.body-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
  height: auto;
}

.section-header-about {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-block-color);
  width: 75%;
  border-radius: 10px;
}

.header-about {
  color: var(--typo-darkbg-color);
  font-size: 30px;
}

.section-image-profile {
  display: flex;
  align-items: center;
  margin: 30px 0;
  height: 55vh;
}

.image-profile {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px black;
}

.section-boxes-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.section-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}

.who-container {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 10px;
  font-size: 16px;
  width: 30%;
  padding: 10px 15px;
}

.fun-facts-container {
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 10px;
  font-size: 16px;
  width: 30%;
  padding: 10px 15px;
}

.title-infos {
  font-size: 25px;
  text-align: center;
  padding-bottom: 5px;
  color: var(--main-color);
}

.section-description {
  margin: 40px 0;
  background-color: var(--secondary-color);
  color: var(--main-color);
  border-radius: 10px;
  width: 80%;
  padding: 10px 15px;
}

.title-description {
  font-size: 25px;
  margin-bottom: 5px;
}

.section-about-more {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.btn-more {
  font-family: var(--font-family);
  border: none;
  width: 20%;
  border-radius: 5px;
}

.btn-more:hover {
  color: var(--typo-darkbg-color);
  background-color: var(--secondary-block-color);
}

@media (min-width: 320px) and (max-width: 932px) {
  .header-about {
    font-size: 20px;
    padding: 5px;
  }

  .image-profile {
    width: 170px;
    height: 170px;
  }

  .section-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .who-container {
    width: 60vw;
    font-size: 12px;
  }

  .fun-facts-container {
    width: 60vw;
    font-size: 12px;
  }

  .title-infos {
    font-size: 17px;
  }

  .title-description {
    font-size: 17px;
  }

  .section-description {
    font-size: 12px;
  }
}
