.contact-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.section-header-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 15px 0;
}

.header-contact {
  background-color: var(--third-color);
  width: 90vw;
  height: max-content;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 6px black;
}

.contact-text-decoration {
  color: var(--main-color);
  font-size: 100px;
  line-height: 113.5%;
  margin: 15px 25px;
  text-shadow: var(--typo-darkbg-color) -10px -5px;
}

.section-contact-info {
  display: flex;
  flex-direction: column;
  width: 90vw;
  gap: 10px;
  .btn-send-email {
    font-family: var(--font-family);
    background-color: var(--third-color);
    width: max-content;
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 5%;
    bottom: 34%;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px 0px black;
    animation: move-button 0.75s ease-in-out 0s infinite normal none;
    cursor: pointer;
  }
  .btn-send-email:hover {
    color: var(--typo-darkbg-color);
    box-shadow: 0px 0px 10px 0px var(--typo-darkbg-color);
  }
}

.linkedin-link {
  color: var(--typo-darkbg-color);
  cursor: pointer;
}

.linkedin-link:hover {
  color: var(--secondary-color);
}

.github-link {
  color: var(--typo-darkbg-color);
  cursor: pointer;
}

.github-link:hover {
  color: var(--secondary-color);
}

@media (min-width: 320px) and (max-width: 750px) {
  .contact-display {
    margin: 0;
  }

  .contact-text-decoration {
    display: flex;
    font-size: 50px;
    text-shadow: var(--typo-darkbg-color) -5px -5px;
  }
  .section-contact-info {
    .btn-send-email {
      bottom: 15%;
    }
  }
}

@media (min-width: 750px) and (max-width: 1200px) {
  .contact-text-decoration {
    font-size: 80px;
  }
}

@keyframes move-button {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -7px);
  }
  100% {
    transform: translate(0, 0);
  }
}
