.perso-project-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wip-header {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  color: var(--typo-darkbg-color);
}

@media (min-width: 320px) and (max-width: 750px) {
  .wip-header {
    height: 60vh;
    font-size: 60px;
    text-align: center;
  }
}

