.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  width: 45px;
  height: 45px;
  font-size: 13px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
}

.btn-close:hover {
  color: var(--typo-darkbg-color);
  border: 1px solid var(--typo-darkbg-color);
  font-size: 15px;
  width: 55px;
  height: 55px;
}
